{% comment %} <link rel="stylesheet" href="./scss/components/edge-text-media.scss"> {% endcomment %}
{{ 'edge-text-media.css' | asset_url | stylesheet_tag }}

<edge-section data-edge="{{ section.settings.image_position }}" class="edge-tm-{{ section.settings.background_color }}">
  <div class="edge-tm">
    <div class="edge-tm-wrapper flex">
      <div class="edge-tm-content">
        <div class="edge-tm-text flex flex-column flex-justify-center">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'heading' -%}
                <{{ block.settings.heading_tag }} class="{{block.settings.heading_tag}} edge-tm-title">
                  {{- block.settings.heading -}}
                </{{ block.settings.heading_tag }}>
              {%- when 'subheading' -%}
                <p class="edge-tm-subheading h3">{{ block.settings.subheading }}</p>
              {%- when 'description' -%}
                <div class="edge-tm-description">{{ block.settings.description }}</div>
              {%- when 'buttons' -%}
                <div class="edge-tm-button flex">
                  {% for key in block.settings %}
                    {% if key == 'button_label_1' %}
                      <a href="{{ block.settings.button_link_1 }}" class="button">
                        {{- block.settings.button_label_1 -}}
                      </a>
                    {% endif %}
                    {% if key == 'button_label_2' %}
                      <a href="{{ block.settings.button_link_2 }}" class="button">
                        {{- block.settings.button_label_2 -}}
                      </a>
                    {% endif %}
                  {% endfor %}
                </div>
            {%- endcase -%}
          {%- endfor -%}
        </div>
      </div>
      <div class="edge-tm-media">
        {% if section.settings.image != blank %}
          {%- liquid
            assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
            assign sizes = '100vw'
          -%}
          {{
            section.settings.image
            | image_url: width: 3840
            | image_tag:
              loading: 'lazy',
              width: section.settings.image.width,
              height: image_height,
              sizes: sizes,
              widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
          }}
        {% else %}
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
    </div>
  </div>
</edge-section>

<script src="{{ 'edge-text-media.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Edge Text Image",
  "max_blocks": 4,
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "radio",
      "id": "image_position",
      "label": "Image Position",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "right",
          "label": "right"
        }
      ],
      "default": "right"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "min": -100,
      "max": 100,
      "step": 10,
      "default": 0,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "background_color",
      "label": "Background Color",
      "options": [
        {
          "value": "light-gray",
          "label": "Light Gray"
        },
        {
          "value": "ligth-blue",
          "label": "Ligth Blue"
        },
        {
          "value": "dark-blue",
          "label": "Dark Blue"
        }
      ],
      "default": "dark-blue"
    }
  ],
  "blocks": [
    {
      "name": "Heading",
      "type": "heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "heartbeatz"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading Tag",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            }
          ],
          "default": "h1"
        }
      ]
    },
    {
      "name": "Description",
      "type": "description",
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    },
    {
      "name": "Subheading",
      "type": "subheading",
      "settings": [
        {
          "type": "textarea",
          "id": "subheading",
          "label": "Subheading",
          "placeholder": "Add subheading text"
        }
      ]
    },
    {
      "name": "Buttons",
      "type": "buttons",
      "settings": [
        {
          "type": "text",
          "id": "button_label_1",
          "label": "First Button Label",
          "default": "Label Here"
        },
        {
          "type": "url",
          "id": "button_link_1",
          "label": "First Button Link"
        },
        {
          "type": "text",
          "id": "button_label_2",
          "label": "Second Button Label",
          "default": "Label Here"
        },
        {
          "type": "url",
          "id": "button_link_2",
          "label": "Second Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Edge Text Image",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "subheading"
        },
        {
          "type": "buttons"
        }
      ]
    }
  ]
}
{% endschema %}
