{{ 'upsx-contact-form.css' | asset_url | stylesheet_tag }}
{{ 'intlTelInput.min.css' | asset_url | stylesheet_tag }}

{%- style -%}
   #shopify-section-{{ section.id }} {
     background: {{ section.settings.background }}
   }

  .iti__flag {
  	background-image: url({{"flags.png" | asset_url}});
  }

  @media (min-resolution: 2x) {
    .iti__flag {
  	background-image: url({{"flags@2x.png" | asset_url}});
  }
  }

   .section-{{ section.id }}-padding {
     padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
     padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
   }

   @media screen and (min-width: 750px) {
     .section-{{ section.id }}-padding {
       padding-top: {{ section.settings.padding_top }}px;
       padding-bottom: {{ section.settings.padding_bottom }}px;
     }
   }
{%- endstyle -%}

<div
  class="upsx-cf page-width isolate section-{{ section.id }}-padding{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
>
  {%- form 'contact', id: 'ContactForm', class: 'upsx-cf-form' -%}
    {%- if form.posted_successfully? -%}
      <h2 class="form-status form-status-list form__message" tabindex="-1" autofocus>
        {% render 'icon-success' %}
        {{ 'templates.contact.form.post_success' | t }}
      </h2>
    {%- elsif form.errors -%}
      <div class="form__message">
        <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
          {% render 'icon-error' %}
          {{ 'templates.contact.form.error_heading' | t }}
        </h2>
      </div>
      <ul class="form-status-list caption-large" role="list">
        <li>
          <a href="#ContactForm-email" class="link">
            {{ form.errors.translated_fields.email | capitalize }}
            {{ form.errors.messages.email }}
          </a>
        </li>
      </ul>
    {%- endif -%}
    <div class="contact__fields">
      <div class="upsx-cf-row">
        {% comment %} Organization name {% endcomment %}
        <div class="field">
          <input
            class="field__input"
            autocomplete="organization"
            type="text"
            id="ContactForm-organization"
            name="contact[Organization Name]"
            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
            placeholder="Organization organization"
            required
            aria-required="true"
          >
          <label class="field__label" for="ContactForm-organization">
            <span aria-hidden="true">*</span>
            Organization Name :
          </label>
          <small class="contact__field-error upsx-cf-error" id="ContactForm-organization-name-error">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="form__message">
              {%- render 'icon-error' -%}
              This field is required
            </span>
          </small>
        </div>
        {% comment %} Contact Person {% endcomment %}
        <div class="field">
          <input
            class="field__input"
            autocomplete="contact-person"
            type="text"
            id="ContactForm-contact-person"
            name="contact[Contact Person]"
            value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
            placeholder="Contact Person"
            required
            aria-required="true"
          >
          <label class="field__label" for="ContactForm-contact-person">
            <span aria-hidden="true">*</span>
            Contact Person :
          </label>
          <small class="contact__field-error upsx-cf-error" id="ContactForm-contact-person-error">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="form__message">
              {%- render 'icon-error' -%}
              This field is required
            </span>
          </small>
        </div>
      </div>
      <div class="upsx-cf-row">
        {% comment %} phone {% endcomment %}
        <div class="field">
          <input
            type="tel"
            id="ContactForm-phone"
            class="field__input"
            autocomplete="tel"
            name="contact[{{ 'templates.contact.form.phone' | t }}]"
            placeholder="{{ 'templates.contact.form.phone' | t }}"
            aria-required="true"
            required
          >
          <small class="contact__field-error upsx-cf-error" id="ContactForm-phone-error">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="form__message">
              {%- render 'icon-error' -%}
              This field is required
            </span>
          </small>
        </div>
        {% comment %} email {% endcomment %}
        <div class="field field--with-error">
          <input
            autocomplete="email"
            type="email"
            id="ContactForm-email"
            class="field__input"
            name="contact[email]"
            spellcheck="false"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {% if form.errors contains 'email' %}
              aria-invalid="true"
              aria-describedby="ContactForm-email-error"
            {% endif %}
            placeholder="{{ 'templates.contact.form.email' | t }}"
            required
          >
          <label class="field__label" for="ContactForm-email">
            <span aria-hidden="true">*</span>
            {{- 'templates.contact.form.email' | t }}
          </label>

          <small
            class="contact__field-error upsx-cf-error{%- if form.errors contains 'email' -%}{% else %} custom{%- endif -%}"
            id="ContactForm-email-error"
          >
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="form__message">
              {%- render 'icon-error' -%}
              This field is required
            </span>
          </small>
        </div>
      </div>
      {% comment %} Event Details {% endcomment %}
      <p class="field__note">
        Please provide a brief description of the event, including its purpose, target audience, and any relevant
        details (time, date, address, etc.)
      </p>
      <div class="field field--full">
        <input
          class="field__input"
          autocomplete="event-details"
          type="text"
          id="ContactForm-event-details"
          name="contact[Event Details]"
          value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
          placeholder="Event Details"
          required
          aria-required="true"
        >
        <label class="field__label" for="ContactForm-event-details">
          <span aria-hidden="true">*</span>
          Event Details :
        </label>
        <small class="contact__field-error upsx-cf-error" id="ContactForm-event-error">
          <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
          <span class="form__message">
            {%- render 'icon-error' -%}
            This field is required
          </span>
        </small>
      </div>

      {% comment %} Sponsorship Details {% endcomment %}
      <p class="field__note">
        Please provide an overview of the sponsorship opportunities you are seeking from The Meat Club, including the
        benefits and exposure that The Meat Club can expect as a sponsor.
      </p>
      <div class="field field--full">
        <input
          class="field__input"
          autocomplete="sponsorship-details"
          type="text"
          id="ContactForm-sponsorship-details"
          name="contact[Sponsorship Details]"
          value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
          placeholder="Sponsorship Details"
          required
          aria-required="true"
        >
        <label class="field__label" for="ContactForm-sponsorship-details">
          <span aria-hidden="true">*</span>
          Sponsorship Details :
        </label>
        <small class="contact__field-error upsx-cf-error" id="ContactForm-sponsorship-error">
          <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
          <span class="form__message">
            {%- render 'icon-error' -%}
            This field is required
          </span>
        </small>
      </div>

      {% comment %} motes {% endcomment %}
      <p class="field__note">
        Please provide any additional information or specific requirements you may have for The Meat Club as a sponsor.
      </p>
      <div class="field field--full">
        <textarea
          rows="10"
          id="ContactForm-body"
          class="text-area field__input"
          name="contact[Additional Information]"
          placeholder="Any other Additional Information: "
        >
				{{- form.body -}}
			</textarea>
        <label class="form__label field__label" for="ContactForm-body"> Additional Information: </label>
      </div>
    </div>
    <div class="contact__button">
      <input type="hidden" name="contact[Page Referer]" id="page-referer" value="{{ page.title }}">
      <button type="submit" class="button">Submit</button>
    </div>
  {%- endform -%}
</div>
<script src="{{ 'upsx-contact-form.js' | asset_url }}" defer="defer"></script>
{% # theme-check-disable ParserBlockingJavaScript %}
<script src="{{ 'intlTelInput.min.js' | asset_url }}"></script>
{% # theme-check-enable ParserBlockingJavaScript %}

<script>
  const inputPhone = document.querySelector('#shopify-section-{{section.id}} #ContactForm-phone');
  window.intlTelInput(inputPhone, {
    utilsScript: "{{ 'utils.js' | asset_url }}",
    initialCountry: 'sg',
    autoInsertDialCode: false,
    nationalMode: false,
  });
</script>
{% schema %}
{
  "name": "Sponsorship Form",
  "class": "upsx-cf",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "presets": [
    {
      "name": "Catering Form"
    }
  ]
}
{% endschema %}
